<% comments.each do |comment| %>
  <li id="comment-<%= comment.id %>">
  <span class="user"><%= link_to User.find(comment.creator_id).name, User.find(comment.creator_id) %></span>
    <span class="content"><%= comment.content %></span>
    <span class="timestamp">
      Posted <%= time_ago_in_words(comment.created_at) %> ago.
      <% if current_user?(comment.user) %>
      <%= link_to "delete", comment, method: :delete, data: { confirm: "You sure?" } %>
      <% end %>
    </span>
  <span>
    <%= render 'microposts/subcomment', subcomments: @comment_subcomments_hash[comment.id] %>
  </span>
  <span>
    <%= render 'microposts/subcomment_form', subcomment: comment.subcomments.build %>
  </span>
  </li>
<% end %>
