<li>
<div class="comment-avatar"><%= link_to gravatar_for(User.find(subcomment.creator_id)), User.find(subcomment.creator_id)%></div>
<div class="comment-box">
  <div class="comment-head">
    <h6 class="comment-name"><%= link_to User.find(subcomment.creator_id).name, User.find(subcomment.creator_id) %></h6>
    <span>
      Posted <%= time_ago_in_words(subcomment.created_at) %> ago.
      <% if current_user? User.find(subcomment.creator_id) or current_user?subcomment.comment.micropost.user%>
      <%= link_to "delete", subcomment, method: :delete, data: { confirm: "Are you sure?" } %>
      <% end %>
    </span>
  </div>
  <div class="comment-content">
    <%= subcomment.content %>
    <span>
      <%= link_to like_subcomment_path(subcomment), method: :put do %>
      <i class="fa <%= current_user.voted_up_on?(subcomment) ? 'fa-thumbs-up' : 'fa-thumbs-o-up' %>"></i> <%= subcomment.get_upvotes.size %>
      <% end %>

      <%= link_to dislike_subcomment_path(subcomment), method: :put do %>
      <i class="fa <%= current_user.voted_down_on?(subcomment) ? 'fa-thumbs-down' : 'fa-thumbs-o-down' %>"></i> <%= subcomment.get_downvotes.size %>
      <% end %>
    </span>
  </div>
</div>
</li>
