<%= form_for subcomment, url: comment_subcomments_path(subcomment.comment.id), html: { class: "new_subcomment_form" }, remote: true do |f| %>
  <div class="container">
  <div class="dialogbox">
    <div class="reply-body">
      <span class="tip tip-up"></span>
      <div class="message">
        <span>
            <%= f.hidden_field :comment_id %>
            <%= f.hidden_field :creator_id %>
           <%= f.text_area :content, placeholder: "Compose new reply..." %>
           <%= f.submit "Reply", class: "btn btn-reply btn-primary"%>
        </span>
      </div>
    </div>
  </div>
<% end %>
